#Virtuals env and files
.venv
.env

# Configuration files
.vscode/

#Caches files
__pycache__/
.mypy_cache/
.pytest_cache/

#Generate, processed and subject data
data
moulinette*

# All tests files
test
tests/